body {
    padding-top:0px;
    background-color: #E1E1E1;
}

#jarrdyLogo{
    height:100px;
}

}nav#theNav.navbar.navbar-static-top{
    margin-top:0px;
    margin-bottom:0px;
    color: #1E6D94;
    background-color:#E1E1E1;
}

#theNav a{
    color:#1E6D94;
}

#theNav a:hover{
    background:#CCCCCC;
    color:#1E6D94;
}

/*BUTTON*/
button.navbar-toggle{
    border: 1px solid #1E6D94;
}

span.icon-bar{
    border: 1px solid #1E6D94;
}

.mainSec{
    background-image:url('../images/awesometigerbackground.jpg');
    height:auto;
}