body {
    padding-top:0px;
    background-color: #E1E1E1;
}

div.page-header{
    margin-top:0px;
    background-color:#1E6990;
    padding-top:0px;
    margin-bottom:0px;
    height:48px;
    text-align:center;
   
}
a.header_bar{
    color:#E1E1E1;
    font:bold 12px Verdana;
    background:#164C6A;
    padding:12px 24px;
}
a.header_bar:hover{
    text-decoration:none;
    background:#0D2E3F;
}
